@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

* {
  box-sizing: border-box;
  }


body {
  margin: 0;
  background-color: #def2f7d2;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  
  
}

.top-wrapper {
  padding: 180px 0 100px 0;
  color: rgb(95, 182, 153);
  text-align: center;
  background-image: url(https://img.freepik.com/free-vector/animal-logo-element-vector-line-art-animal-illustration-set_53876-157628.jpg?t=st=1651727274~exp=1651727874~hmac=e7ff2ac763abf096b8abd954ce35af58ac598d14dd04462efb7ea422c5718b6b&w=996);
  background-size: cover;
  background-size:100% 150%;
  background-repeat: no-repeat;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  border-radius: 20% 80% 25% 85% / 50% 50% 50% 50%;
}



.top-wrapper h1 {
  
  font-size: 53px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 1;
  font-size: 23px;
  font-family: 'Shippori Antique B1', sans-serif;
}

.btn-wrapper {
  float: right;
  
}


.btn.signup{
  border-radius: 20%;
  background-color: #4d20ee;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 7px #4b1a79;
}

.signup:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn.github{
  border-radius: 20%;
  background-color: #080808a6;
  opacity: 0.6;
  cursor: pointer;
  box-shadow: 0 7px #000000;
}

.github:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}


.btn.mail {
  background-color: #01090f; 
  font-size: 17px;
  opacity: 0.8;
}


.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(121, 155, 163, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
  opacity: 0.7;
}

header:hover {
  opacity: 1;
  background-color: #0d6791;
}


.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  line-height: 20px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 18px;
}

.header-left h1{
  color: rgba(255, 255, 255, 0.904);
}


.header-right {
  float: right;
  margin-right: -25px;
  
}

.header-right a {
  line-height: 65px;
  padding: 0 15px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 13px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.works-wrapper{
  background-color: rgba(0, 195, 255, 0.664);
  border-radius: 15% 83% 38% 42% / 38% 14% 58% 31%    ;
  height: 600px;
  text-align: center;
  color: white;
  
}

.works-wrapper h1{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 45px;
}

.explain{
  margin: auto;
  width: 65%;
}


.portfolio{
  overflow: hidden;
  width: 400px;
  height: 250px;
  display: block;
transition-duration: 0.5s;
text-align: center;
  margin: auto;
}


.portfolio:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
  opacity: 0.7;
  }


.skills-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  background-color: rgb(236, 221, 82);
  border-radius: 22% 71% 34% 36% / 35% 42% 32% 43% ;
}


.skills-wrapper h2{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 20px;
}


.skills{
  display:flex;
 
 
}


.skill {
  float: left;
  
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #feffff;
}

.heading h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 45px;
}

.heading h2 {
  font-weight: normal;
  
}

.heading h3 {
  font-weight: normal;
}


.skill-icon {
  position: relative;
  margin-left: 15px;
  
}

.skill-icon p {
  color: #000;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size:25px;
  color: #ffffff;
}

.hint{
  font-size:20px;
  color: #ffffff;
  margin-top: px;
}


.about-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #7ec23f;
  border-radius:53% 45% 73% 15% / 47% 41% 23% 50%  ;
}



.about-icon{
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin: 40px 0px;
}


.about-contents  {
 color: rgb(246, 242, 250);
 width: 60%;
 font-size: 16px;
}

.intro{
  font-size:22px;
  
}

.selfpic {
  border-radius:60% 40% 71% 29% / 49% 49% 51% 51%  ;
}



footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #e68ade;
  border-radius: 6% 91% 35% 42% / 49% 58% 20% 33% ;
  
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


.mlogo{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
}

.footer-message{
  text-align: center;
}


footer p {
  color: #fcfcfc;
  font-size: 12px;
  
}


.doglogo{
  float: right;
  width: 60px;
  height: 60px;
}

.doglogo:hover {
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
  }